.breadnotes__container {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px auto 50px 50px;
    place-items: center;
}

.breadnotes__title {
    text-transform: uppercase;
}

#breadnotes__edit {
    font-size: 1em;
}

.breadnotes__listcontainer {
    align-self: start;
    padding: 1em;
}

.breadnotes__listcontainer > * {
    margin: 0.1em 0;
}