.flourlist__wrapper {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px 50px auto;
    place-items: center;
}

.flourlist__wrapper > h1 {
    text-transform: uppercase;
}

.addflour-btn {
  background-color: #9C909C;
  box-shadow: 3px 5px 15px 0px #303030;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.2em 1em;
  outline: none;
  border: none;
}

#flourlist__form {
    grid-column: span 1;
}

.flourlist__listcontainer {
    align-self: start;
    margin-top: 1em;
    overflow-y: scroll;
    max-height: 280px;
}

.flourlist__listcontainer > ul {
    list-style: none;
}

.flourlist__listcontainer > ul > li {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 50vw 30vw;
}

.flourlist__listcontainer > ul > li:hover {
    color: #A09381;
}

.flourlist__listcontainer > ul > li > h3 {
    justify-self: end;
    font-size: 0.7em;
}

.flourlist__listcontainer > ul > li > button {
    place-self: center start;
    width: 30px;
    font-size: 0.7em;
    margin-left: 1em;
}