.newbread__breadid {
    position: fixed;
    right: 36px;
    top: 36px;
    text-transform: uppercase;
}

.newbread__container {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 30px auto 50px 50px;
    align-items: center;
}

.newbread__recipetitle {
    text-transform: uppercase;
    justify-self: center;
    grid-column: span 3;
}

#newbread__edit {
    font-size: 1em;
    grid-column: span 3;
    justify-self: center;
}

.newbread__hydration {
    grid-column: span 3;
    justify-self: center;
}

.newbread__ingredientlist {
    align-self: start;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
}

.newbread__flours {
    margin-left: 1.5em;
}

.newbread__grams, .newbread__percent {
    justify-self: center;
}

.createbread__link {
    grid-column: span 3;
    display: grid;
    place-items: center;
}

.createbread__continue, .createbread__store {
    place-self: center;
    font-size: 1.5em;
    width: 200px;
}

.createbread__store {
    background-color: #DDD;
    box-shadow: 3px 5px 15px 0px #303030;
    text-transform: uppercase;
    padding: 0.2em 1em;
    outline: none;
    border: 3px solid #9C909C;
}

form {
    grid-column: span 3;
    justify-self: center;
}

#ingredient-submitbtn {
    font-size: 1em;
}

select {
    padding: 0.2em;
    margin: 0.5em;
}