.ongoingpage__container {
    height: 100vh;
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-flow: column nowrap;
    align-content: center;
}

.ongoingpage__createbtn {
    margin: 0.5em;
}

.ongoingpage__container > p {
    max-width: 70%;
    margin: 0 auto 1em auto;
    text-align: center;
    font-size: larger;
}

.ongoingpage__link {
    display: grid;
}

.ongoingpage__container > ul {
    margin: 0 auto;
    list-style: none;
    font-size: 1.5em;
}

.ongoingpage__container > h1 {
    font-size: 2em;
    padding-bottom: 1em;
    margin: 0 auto;
    text-transform: uppercase;
}

.landingpage__p-wrapper > p {
    padding: 0.2em;
}

.ongoingpage__recipe-row {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 40vw 40vw;
}

.ongoingpage__recipe-row:hover {
    color: #A09381;
}

.ongoingpage__recipe-row > a {
    justify-self: end;
}

.ongoingpage__recipe-row > button {
    justify-self: start;
    width: 30px;
    font-size: 1em;
    margin-left: 1em;
}